<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Service</title>
    <style>
        body {
            font-family: Arial, sans-serif;
         }
 

      

     
        a:hover {
            text-decoration: none;
        }
        .card-inside{
            padding: 10px;
          
        }
        .card{
            padding: 10px;
        }
    </style>
</head>
<body>
    {% include 'Admin_Base.html' %}
<div class="main">
   <div class="container second-box">
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 card-inside">
<div class="card">
                 
<h2 class="text-center">Edit Service</h2>
<div class="card-header">
     

    <form method="post">
        {% csrf_token %}
        <input type="text" name="service_name" value="{{ service.name }}" required class="form-control">
        <button type="submit" class="submit-buttons">Update</button>
    </form>
    <a href="{% url 'requirements_dashboard' %}"class="btn btn-outline-info mt-5" style="width: 150px;" >Back</a>

</div>
</div>
    </div>
    <div class="col-md-4"></div>
</div>
   </div>
</div>
{%include 'footer.html'%}

</body>
</html>
